[Desktop Entry]
Name=LADITray
Type=Application
Comment=JACK and LASH control tray application
Terminal=false
Exec=laditray
Icon=laditray
Categories=GTK;AudioVideo;
GenericName=LADI Trayicon
