[Desktop Entry]
Encoding=UTF-8
Name=Linux Audio Configuration
Type=Application
Comment=JACK and LASH control application configuration
Terminal=false
Exec=ladiconf
Icon=ladiconf
Categories=GTK;Settings
GenericName=LADI Configuration
